<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Permission for accessing external storage (if needed for gallery access) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Satu"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.transfer.TransferPinActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.qris.QrisReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.qris.QrisVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.qris.NominalQrisActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.transfer.TransferReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.transfer.TransferVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.transfer.TransferConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.transfer.TransferNowActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.transfer.TransferAddNewRekeningActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.transfer.TransferBcaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.transfer.TransferTujuanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.qris.VerifikasiQrisActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.qris.PayWithCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.qris.QrisActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.maintance.MaintanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.loader.LoaderForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.forgotpassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.loader.LoaderRegisterEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.loader.LoaderRegisterRekeningActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.mutation.MutationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.auth.repeateduser.RepeadLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.repeateduser.onboarding.OnBoardingRepeadUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.newuser.login.LoginSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.newuser.login.LoginEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.newuser.register.RegisterSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.newuser.register.RegisterPinActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.newuser.register.RegisterPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.auth.newuser.register.RegisterEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.newuser.register.RegisterRekeningActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.newuser.onboarding.OnBoardingNewUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true" />
    </application>

</manifest>